<!--<div class="footer footer">-->
<!--    <p class="text-center">@copy; Your Store pvt.All rights Reserved</p>-->
<!--</div>-->

<!--<div class="content container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-8">-->
<!--        {% block content %}-->
<!--        {% endblock %}-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--  <footer>-->
<!--    <div class="footer">-->
<!--        <p class="text-center">@copy; Your Store pvt.All rights Reserved</p>-->
<!--    </div>-->
<!--  </footer>-->


<!--<div class="footer">-->
<!--  <p>Footer</p>-->
<!--</div>-->

<!--<div class="footer fixed-bottom my_footer">-->
<!--    <p class="text-center">@copy; Your Store pvt.All rights Reserved</p>-->
<!--</div>-->

<body class="d-flex flex-column min-vh-100">

  <div class="footer mt-auto text-center">
    <span id="bottom">
        <hr>
        <p>
            @copy; Your Store pvt.All rights Reserved

       </p>
    </span>
  </div>
</body>